@* @model IEnumerable<Project.Models.PasswordResetModel> *@

@{
    ViewData["Title"] = "Admin Password Reset Page";
    @* string[] TableHeaders = new string[] { "Password Reset ID", "Household Email" }; *@
     string[] TableHeaders = new string[] { "Household Email", " " };

}

<h1>Admin Password Reset Page</h1>

<div>
    <form asp-action="adminPasswordResetPage" method="get" asp-controller="PasswordReset">
        <table class="table table-bordered">

            <thead>
                <tr>
                    @{
                        foreach (var head in TableHeaders)
                        {
                            <th>
                                @head
                            </th>
                        }
                    }
                </tr>
            </thead>

            <tbody>
                @{
                    if (Model != null)
                    {
                        foreach (var Data in Model)
                        {
                            <tr>
                                @* <td>
                                    @Data.PasswordResetID
                                </td> *@
                                <td>
                                    @Data.householdEmailDetails
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success" value="Submit" name="Reset Password" id="submitButton">Submit</button>
                                </td>

                            </tr>
                        }

                    }
                }


        </table>
        </tbody>
    </form>
</div>
