@model IEnumerable<PasswordResetModel>
@{
    ViewData["Title"] = "Admin Password Reset Page";
}

<h1>Admin Password Reset Page</h1>

<div>
    <form asp-action="Submit">
        <table class="table table-bordered">
            @* @foreach (var item in Model) *@
            @* { *@
                @* <a href="/home/submit/@item.householdEmail">Submit</a> *@
                <thead>
                    <tr>
                        <th scope="col">Password Reset ID</th>
                        <th scope="col">Household Email</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        @* <td><a asp-action="Submit" asp-controller="PasswordResetController"
                            asp-route-id="@item.householdEmail">Send Email</a></td>  *@
                            @* href="/PasswordReset/Submit/4"*@ 
                        @* <td>@Html.ActionLink("Submit" ,"details" , "PasswordResetController" , new {id =
                        item.householdEmail} )</td> *@
                        @* <td><a asp-controller="PasswordReset" asp-action="details" asp-route-id="@item.householdEmail">Submit</a></td> *@
                    </tr>
                    <tr>
                        <th scope="row"></th>
                        <td></td>
                        <td><a asp-action="Submit" />Submit</td>

                    </tr>
                </tbody>
            @* } *@

        </table>
    </form>
</div>
