@model Project.Models.PasswordResetModel

@{
    ViewData["Title"] = "PasswordReset";
}

<h1>Password Reset</h1>
<p>Instruction on Resetting Password:</p>
<p>1. Enter your email</p>
<p>2. Click on the Reset Password Button</p>
<p>3. Check your email (both the inbox and junk) and look out for our email. </p>
<p>4. Click on the generated link.</p>
<p>5. Reset your password.</p>
<br>
<p>Please enter your email below: </p>

<div class="row">
    <div class="col-md-4">
    <form asp-action="PasswordReset" method="post" asp-controller="PasswordReset">
        <div class="form-group">
            <label asp-for="householdEmail" class="control-label"></label>
            <input asp-for="householdEmail" name="householdEmail" class="form-control">
            <span asp-validation-for="householdEmail" class="text-danger"></span>
        </div> 
       <div class="form-group"> 
           <button type="submit" class="btn btn-success" value="Reset Password" name="Reset Password" id="submitButton" >Reset Password</button> 
       @* onclick="location.href='@Url.Action("PasswordReset", "NotifyObservers")'" *@
       </div>
     </form> 
    </div> 
 </div> 

@if(ViewBag.Message!= null){
    <script type="text/javascript">
        window.onload = function(){
            alert("@ViewBag.Message");
        }
</script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
