@model Project.Models.PasswordResetModel

@{
    ViewData["Title"] = "ResetPasswordPage";
}

<h1>Reset Password Page</h1>

<p>Please enter your email below: </p>

<div class="row">
    <div class="col-md-4">
    <form asp-action="PasswordReset">
        <div class="form-group">
            <label asp-for="householdEmail" class="control-label"></label>
            <input asp-for="householdEmail" class="form-control">
            <span asp-validation-for="householdEmail" class="text-danger"></span>
        </div> 

        <div class="form-group">
            <label asp-for="newPassword" class="control-label"></label>
            <input asp-for="newPassword" class="form-control">
            <span asp-validation-for="newPassword" class="text-danger"></span>
        </div> 

        <div class="form-group">
            <label asp-for="confirmPassword" class="control-label"></label>
            <input asp-for="confirmPassword" class="form-control">
            <span asp-validation-for="confirmPassword" class="text-danger"></span>
        </div> 

       <div class="form-group"> 
           <input type="submit" value="Reset Password" name="Reset Password" id="submitButton"></input> 
       </div>
     </form> 
    </div> 
 </div> 

@if(ViewBag.Message!= null){
    <script type="text/javascript">
        window.onload = function(){
            alert("@ViewBag.Message");
        }
</script>
}

@* <script type="text/javascript">
    $(document).ready(function(){
        $("#submitButton").click(function(){
            swal({  
                title: "Are you sure?",  
                text: "Are you sure that you want to request for a reset password?",  
                type: "warning",  
                showCancelButton: true,  
                closeOnConfirm: false,  
                confirmButtonText: "Yes",  
                confirmButtonColor: "#ec6c62"  
            },  
            function(){
                swal("Success","Reset password link have been send to your email","success");
            });
        });
    }
</script> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}