@{
    ViewData["Title"] = "ResetPasswordPage";
}

<h1>Reset Password Page</h1>

<p>Please enter your email below: </p>

<div class="row">
    <div class="col-md-4">
    <form asp-action="ResetPasswordPage" method="post" asp-controller="PasswordReset">
        <div class="form-group">
            <label class="control-label">Household Email</label>
            <input type="email" name="householdEmail" class="form-control" placeholder="ict2106t7@gmail.com" required>
@* 
            <input class="form-control" type="text" value=@ViewData["householdEmailDetails"] readonly/>
            <input class="form-control" name="householdEmail" id="householdEmail" type="hidden" value=@ViewData["householdEmailDetails"] /> *@

            <span class="text-danger"></span>
        </div> 

        <div class="form-group">
            <label class="control-label">New Password
            <input type="password" name="newResetPassword" id="newResetPassword" class="form-control" onkeyup="checkPass();" required>
            @* <span class="text-danger"></span> *@
            </label>
        </div> 

        <div class="form-group">
            <label class="control-label">Confirm Password
            <input type="password" name="confirmResetPassword" id="confirmResetPassword" class="form-control" onkeyup="checkPass();" required>
            <span id="confirm-message2" class="confirm-message"></span>
            @* <span class="text-danger"></span> *@
            </label>
        </div> 

       <div class="form-group"> 
           <button type="submit" class="btn btn-success" value="Reset New Password" name="Reset Password" id="submitButton" >Reset New Password</button> 

       </div>
     </form> 
    </div> 
 </div> 


@* trying for the validation of password and confirmation password *@

<style>
    .tutorial-wrapper{
        width: 100%;
    }
    .tutorial-wrapper form{
        background-color: #ffc;
        border: 1px solid #cc9;
        padding: 10px;
        font-family: verdana;
        width: 75%;
        font-size: 1em;
    }
    .field-wrapper{
        margin: 2px 0 2px 0;
        padding: 0;
    }
    .tutorial-wrapper label{
        float: left;
        text-align: right;
        margin: 0 5px 0 0;
        width: 30%;
    }
    .tutorial-wrapper input{
        width: 200px;
        border: 1px solid #cc9;
    }
    .confirm-message{
        margin: 0;
        padding: 0;
        font-size: .8em;
    }
</style>

<script type="text/javascript">
function checkPass()
{
    //Store the password field objects into variables ...
    var password = document.getElementById('newResetPassword');
    var confirm  = document.getElementById('confirmResetPassword');
    //Store the Confirmation Message Object ...
    var message = document.getElementById('confirm-message2');
    //Set the colors we will be using ...
    var good_color = "#66cc66";
    var bad_color  = "#ff6666";
    //Compare the values in the password field 
    //and the confirmation field
    if(password.value == confirm.value){
        //The passwords match. 
        //Set the color to the good color and inform
        //the user that they have entered the correct password 
        confirm.style.backgroundColor = good_color;
        message.style.color           = good_color;
        message.innerHTML             = alt="Passwords Match!";
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        confirm.style.backgroundColor = bad_color;
        message.style.color           = bad_color;
        message.innerHTML             = alt="Passwords Do Not Match!";
    }
}  
</script>

@* '<img src="/wp-content/uploads/2019/04/tick.png" alt="Passwords Match!">' *@

@* '<img src="/wp-content/uploads/2019/04/publish_x.png" alt="Passwords Do Not Match!">' *@




@if(ViewBag.Message!= null){
    <script type="text/javascript">
        window.onload = function(){
            alert("@ViewBag.Message");
        }
        </script>
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}