@model Project.Models.PasswordResetModel

@{
    ViewData["Title"] = "ResetPasswordPage";
}

<h1>Reset Password Page</h1>

<p>Please enter your email below: </p>

<div class="row">
    <div class="col-md-4">
    <form asp-action="ResetPasswordPage" method="post" asp-controller="PasswordReset">
        <div class="form-group">
            <label asp-for="householdEmail" class="control-label"></label>
            <input asp-for="householdEmail" name="householdEmail" class="form-control">
            <span asp-validation-for="householdEmail" class="text-danger"></span>
        </div> 

        <div class="form-group">
            <label asp-for="newPassword" class="control-label"></label>
            <input asp-for="newPassword" name="newPassword" class="form-control">
            <span asp-validation-for="newPassword" class="text-danger"></span>
        </div> 

        <div class="form-group">
            <label asp-for="confirmResetPassword" class="control-label"></label>
            <input asp-for="confirmResetPassword" name="confirmResetPassword" class="form-control">
            <span asp-validation-for="confirmResetPassword" class="text-danger"></span>
        </div> 

       <div class="form-group"> 
           <button type="submit" class="btn btn-success" value="Reset New Password" name="Reset Password" id="submitButton" >Reset New Password</button> 

       </div>
     </form> 
    </div> 
 </div> 

@if(ViewBag.Message!= null){
    <script type="text/javascript">
        window.onload = function(){
            alert("@ViewBag.Message");
        }
</script>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}