@{
    ViewData["Title"] = "Household Feedback System";
}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="text-center">
    <h1 class="display-4">Feedback System</h1>
    <form>
        <div class="form-group">
            <label for="fbType">Select Feedback Type</label>
            <select class="form-control" id="fbType" name="fbType">
                <option>Software</option>
                <option>Hardware</option>
            </select>
        </div>
        <div class="form-group">
            <label for="FeedbackContent">Content</label>
            <textarea class="form-control" id="FeedbackContent" rows="3"
                placeholder="Please give a description on the issues you are facing."></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
