@* Reply housholdUser feedback *@
<div class="card bg-info">
    <div class="card-body">
        <h5 class="card-title">Reply Feedback</h5>
        <form method="post" asp-controller="Feedback" asp-action="feedbackAdminReply">

            <div class="form-group row">
                <label for="FeedbackId" class="col-sm-2 col-form-label">Feedback ID </label>
                <div class="col-sm-10">
                    <input class="form-control" name="feedbackId" id="feedbackId" type="text" value=@ViewData["feedbackId"] readonly/>
                </div>
            </div>

            <div class="form-group row">
                <label for="FeedbackSubject" class="col-sm-2 col-form-label">Household Email</label>
                <div class="col-sm-10">
                    <input class="form-control" name="hosueholdEmail" id="hosueholdEmail" type="text" value=@ViewData["householdEmail"] readonly/>
                </div>
            </div>

            <div class="form-group row">
                <label for="FeedbackSubject" class="col-sm-2 col-form-label">Subject</label>
                <div class="col-sm-10">
                    <input class="form-control" name="subject" id="FeedbackSubject" placeholder="Enter subject" />
                </div>
            </div>

            <div class="form-group row">
                <label for="FeedbackContent" class="col-sm-2 col-form-label">Content</label>
                <div class="col-sm-10">
                    <textarea class="form-control" name="feedback" id="FeedbackContent" rows="3"
                        placeholder="Please give a description on the issues you are facing."></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputState" class="col-sm-2 col-form-label" >Status</label>
                <select class="form-control col-sm-10" id="fbStatusUpdate" name="fbStatusUpdate">
                    @if ((string)(ViewData["feedbackStatus"]) == "pending")
                    {
                        <option>pending</option>
                        <option>resolved</option>
                    }
                    else{
                         <option>resolved</option>
                         <option>pending</option>
                    }

                </select>
            </div>

            <button type="submit" id="fb_submit_btn" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {
            alert("@ViewBag.Message");
        };
    </script>
}
