@{
    ViewData["Title"] = "Feedback System";
}

<div class="text-center">
    <h1 class="display-4">Feedback System</h1>
    <form>
        <div class="form-group">
            <label for="fbType">Select Feedback Type</label>
            <select class="form-control" id="fbType" name="fbType">
                <option>Software</option>
                <option>Hardware</option>
            </select>
            <input type="text" name="feedback" />
            <input type="submit" value="Submit Feedback" />
        </div>
    </form>
</div>
<div>
    <p></p>
</div>
