@page
@model EFCoreSample.FeedbackTableModule
{
ViewData["Title"] = "Administrator Feedback System";
}

<div class="text-center">
  <h1 class="display-4">Feedback System</h1>
  <form>
    <div class="form-group">
      <label for="FeedbackStatus">Status</label>
      <select class="form-control" id="FeedbackStatus" name="fbType">
        <option>All</option>
        <option>Resolved</option>
        <option>Pending</option>
      </select>
    </div>
  </form>
</div>
<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Feedback ID</th>
        <th scope="col">Household Email</th>
        <th scope="col">Topic</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      @* foreach (var item in Model.Feedback)
        {
        <tr>
        <th scope="row">@Html.DisplayFor(modelItem => Model.feedbackId)</th>
        <td>@Html.DisplayFor(modelItem => Model.householdEmail)</td>
        <td>@Html.DisplayFor(modelItem => Model.feedbackType)</td>
        <td>@Html.DisplayFor(modelItem => Model.feedbackStatus)</td>
        </tr> *@

      <tr>
        <th scope="row">3</th>
        <td>jialin@gmail.com</td>
        <td>Account</td>
        <td>
          <form>
            <div class="form-group row">
              <div class="col-sm-10">
                <select class="form-control" id="fbStatusUpdate" name="fbStatusUpdate">
                  <option>Pending</option>
                  <option>Resolved</option>
                </select>
              </div>
            </div>
            <button type="submit" id="fbSubmitBtnUpdate" class="btn btn-success">Update</button>
          </form>

        </td>
      </tr>
      @* } *@
    </tbody>
  </table>
</div>
