@{
    ViewData["Title"] = "Administrator Feedback System";
}

<div class="text-center">
    <h1 class="display-4">Feedback System</h1>
   <form>
        <div class="form-group">
            <label for="FeedbackStatus">Status</label>
            <select class="form-control" id="FeedbackStatus" name="fbType">
                <option>All</option>
                <option>Resolved</option>
                <option>Pending</option>
            </select>
        </div>
    </form>
</div>
<div>
    <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Feedback ID</th>
      <th scope="col">Household Email</th>
      <th scope="col">Feedback Type</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Software</td>
      <td>Resolved</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Hardware</td>
      <td>Resolved</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Lamb</td>
      <td>Software</td>
      <td>Resolved</td>
    </tr>
  </tbody>
</table>
</div>
