@* @model IEnumerable<Project.Models.PasswordResetModel> *@

@{
    ViewData["Title"] = "Admin Password Reset Page";
    string[] TableHeaders = new string[] { "Password Reset ID", "Household Email", " " };
}

<h1>Admin Password Reset Page</h1>

<div>
    @* <form asp-action="AdminPasswordResetPage" method="post" asp-controller="PasswordReset"> *@
    <table class="table table-bordered">

        <thead>
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                }
            </tr>
        </thead>

        <tbody>
            @*
                @using (Html.BeginForm("AdminPasswordResetPage", "PasswordReset", FormMethod.Post))
                { *@
            @if (Model != null)
            {
            @foreach (var Data in Model)
            {   
            
             <form method="post" asp-controller="AdminPasswordReset" asp-action="adminPasswordResetPage"> 
                <tr>
                    <td>
                        <div>
                            <label>@Data.passwordResetID</label>
                            <input class="form-control" name="householdId" type="hidden" value=@Data.passwordResetID>
                        </div>
                    </td>

                    <td>
                        <div>
                             <label>@Data.householdEmailDetails</label>
                            <input class="form-control" class="householdEmail" name="disabledInput" type="hidden" value=@Data.householdEmailDetails>
                        </div>
                    </td>

                    <td>
                        <button type="submit" class="btn btn-success" value="Submit" name="ResetPassword" id="submitButton" >Submit</button>
                    </td>

                </tr>

             </form> 

            }

            }
            @* } *@
    </table>
    </tbody>
    @* </form> *@
</div>


@* formaction="/PasswordResetController/submitButton/{@Data.passwordResetID}/{@Data.householdEmailDetails} *@
@* formaction="@Url.Action("AdminPasswordResetPage","PasswordReset")" *@


@* onclick="location.href='@Url.Action("AdminPasswordResetPage", "PasswordReset", new { HouseholdEmailDetails =
    ViewData["HouseholdEmailDetails"] })'" *@